
            body {
                background-color:lavender;
            }
            p {
                color:darkcyan;
                font-size:large;
            }

            h1 {
                font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; 
            }
            .escarcha {
                font-size: 50px; 
            }
            